<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  	<style>
  		.navbar {
			padding-bottom: 0;
			border-radius: 0;
		}
  		.container-fluid {
      		padding-top: 70px;
      		padding-bottom: 70px;
  		}
  		.container {
  			padding-top: 20px;
  			padding-bottom: 20px;
  		}
  		.navigation {
  			padding-top: 5px;
  			padding-bottom: 5px;
  		}
		.bg-4 { 
    		background-color: #2f2f2f;
    		color: #ffffff;
		}
	</style>
	<title>View 2</title>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="navigation">
		    <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			    	<span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			     	<span class="icon-bar"></span>                        
			    </button>
		      	<a class="navbar-brand" href="#">Awsome Webstore</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      	<ul class="nav navbar-nav">
			        <li><a href="http://users.metropolia.fi/~aleksniv/awsomeWebstore/admin/view1.html">Home</a></li>
			        <li class="active"><a href="http://users.metropolia.fi/~aleksniv/awsomeWebstore/admin/view2.html">Lisää tuote</a></li>
			        <li><a href="http://users.metropolia.fi/~aleksniv/awsomeWebstore/admin/view3.html">Tuotteiden hallinta</a></li>
		      	</ul>
			    <ul class="nav navbar-nav navbar-right">
			      	<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			    </ul>
		    </div>
		</div>
	</nav>

	<div class="container">
		
		<form role="form">
			<div class="form-group">
		  		<label for="productName">Product name:</label>
		    	<input type="text" class="form-control" id="productName">
		  	</div>
		  	<div class="form-group">
		    	<label for="price">Price:</label>
		    	<input type="text" class="form-control" id="price">
		  	</div>
		  	<div class="form-group">
  				<label for="comment">Description:</label>
  				<textarea class="form-control" rows="5" id="comment"></textarea>
			</div>
			<div class="form-group">
		  		<label for="count">Count:</label>
		    	<input type="integer" class="form-control" id="count">
		  	</div>
		  	<div class="form-group">
				<label for="sel2">Category:</label>
			    <select multiple class="form-control" id="category">
			    	<option>1</option>
			        <option>2</option>
			        <option>3</option>
			        <option>4</option>
			        <option>5</option>
			    </select>
			</div>
			<div>
				<submit class="btn btn-success" id="add">Submit</submit>
			</div>
			
		</form>

	</div>
	<footer class="container-fluid bg-4 text-center">
		<p>Online store</p>
	</footer>	
</body>

</html>
